<div class="widgets">
  <ba-card cardTitle="Profile user" baCardClass="with-scroll">
  <div class="row">
    <div class="col-md-4">
      <ba-card cardTitle="Set Password" baCardClass="with-scroll">
        <form class="form-horizontal" [formGroup]="formPassword" (ngSubmit)="changePass(formPassword.value)">
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="password" class="form-control" formControlName="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="password" class="form-control" formControlName="password_confirmation"
                     name="password_confirmation" placeholder="Confirm Password">
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button  [disabled]="!formPassword.valid" type="submit" class="btn btn-warning">Set password</button>

            </div>
          </div>
        </form>
        <button class="btn btn-warning" (click)="resetPassword()">Reset default password</button>
      </ba-card>
    </div>
    <div class="col-md-8">
      <ba-card cardTitle="Information basic" baCardClass="with-scroll">
        <form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="save(userForm.value)">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 form-control-label">Name</label>
            <div class="col-sm-10">
              <input type="email" formControlName="name" class="form-control" id="inputEmail3" placeholder="Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 form-control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" formControlName="email" class="form-control" placeholder="Email">
              <small class="error" *ngIf="userForm.get('email').hasError('isEmailUnique')">This email has been registered already</small>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 form-control-label">Birthday</label>
            <div class="col-sm-10">
              <input type="date" formControlName="birthday" class="form-control" placeholder="Birthday">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 form-control-label">Phone</label>
            <div class="col-sm-10">
              <input type="text" formControlName="phone" class="form-control" placeholder="Phone">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 form-control-label">Authority</label>
            <div class="col-sm-10">
              <div class="input-demo checkbox-demo row">
                <ba-multi-checkbox [(ngModel)]="checkboxModel" [ngModelOptions]="{standalone: true}" [propertiesMapping]="checkboxPropertiesMapping"></ba-multi-checkbox>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
              <button [disabled]="!userForm.valid" type="submit" class="btn btn-warning">Save</button>
            </div>
          </div>
        </form>
      </ba-card>
    </div>
  </div>
  </ba-card>
  <ba-card cardTitle="List order of user" baCardClass="with-scroll">
    <div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th><a (click)="sort('id')">ID</a></th>
          <th><a (click)="sort('created_at')">{{ 'Date Order' }}</a></th>
          <th><a (click)="sort('status')">{{ 'Status' }}</a></th>
          <th><a (click)="sort('total')">{{ 'Total' }}</a></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of orders.data | paginate:{
                                                      itemsPerPage: orders.per_page,
                                                      currentPage: activePage,
                                                      totalItems: orders.total }">
          <td><a [routerLink]="['/pages/orders/detail',item.id]">{{item.id}}</a></td>
          <td>{{item.created_at}}</td>
          <td [ngSwitch]="item.status">
            <span *ngSwitchCase="0" class="p-1 label label-danger">Canceled</span>
            <span *ngSwitchCase="1" class="p-1 label label-warning">Pending</span>
            <span *ngSwitchCase="2" class="p-1 label label-info">Approved</span>
            <span *ngSwitchCase="3" class="p-1 label label-success">Finished</span>
          </td>
          <td>{{total_price(item)}} vnđ</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </ba-card>
</div>
